*{
    margin: 0;
    padding: 0;
    
}
nav{
    background-color: #FFFFFF;
    Display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin:  auto;
    padding: 8px 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
ul li a{
    text-decoration: none;
    color: #575757;
    font-size: 18px;
    text-align: center;
}
.reg-button{
    background-color: #1D4ED8;
    
    padding: 12px 12px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}