*{
    margin: 0;
    padding: 0;
     font-family: "Inter", sans-serif;
}
.hero{
    background-image: url('./images/banner.jpg');
     background-size: cover; 
     background-position: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     height: 100vh;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.hero-text{
    color: #FFFFFF;
    max-width: 800px;
}
.hero-text h1{
    font-size: 48px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.hero-text p{
    font-size: 20px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}
nav{
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin:  auto;
    padding: 8px 0;
}
nav img{
    width: 150px;
    height: 50px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #575757;
    font-size: 18px;
    padding: 8px 12px;
}
nav ul li a:hover{
    color: #1D4ED8;
}
.reg-button{
    background-color: #1D4ED8;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}
.reg-button:hover{
    background-color: #637498;
}
.speakers{
    background-color: #FFFFFF;
    padding: 50px 0;
}
.speakers h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
.scontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    gap: 20px;
    max-width:1200px;
    margin:auto;
    justify-items: center;
}
.scard{
    width: 300px;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.scard img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.scard h3{
    color: #0D1B2A;
    font-size: 24px;
    margin-top: 8px;
    padding: 0 20px;
}
.label{
    color: #2563EB;
    font-size: 10px;
    padding: 0 20px;
}
.label:hover{
    background-color: #1D4ED8;
    color: #FFFFFF;
}
.scard p{
    color: #575757;
    font-size: 12px;
    margin-top: 4px;
    padding: 0px 20px 30px;
}
.pricing{
    background-color: #FFFFFF;
    padding: 50px 0;
}
.pricing h2{
    text-align: center;
    font-size: 36px;
}
.pricing p{
    text-align: center;
    font-size: 12px;
    color:#575757 
}
.pcontainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:50px auto;
}
.n-pcard{
    display: flex;
    flex-direction: column;
    gap:2px;
    background-color:#FFFFFF ;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    width: 300px;
    justify-content: space-between;
    padding: 15px; 
    box-shadow: 0 4px 6px rgba(150, 149, 149, 0.1);
}
.p-pcard{
    display: flex;
    flex-direction: column;
    gap:2px;
    background-color:#0D1B2A;
    border: 1px solid #0D1B2A;
    border-radius: 10px;
    width: 300px;
    padding: 15px;   
    box-shadow: 0 4px 6px rgba(71, 70, 70, 0.1);
}
.plan{
    color: #6c90b7;
    font-size: 10px;
}
.n-pcard h3{
    font-size: 36px;
    color:#0D1B2A;
}
.n-pcard p{
    text-align: left;
    font-size: 8px;
    color:#0D1B2A;
    margin-bottom: 5px;
}
.p-pcard h3{
    font-size: 36px;
    color:#FFFFFF;
}
.p-pcard p{
    text-align: left;
    font-size: 8px;
    color:#FFFFFF;
    margin-bottom: 5px;
}
.n-pcard ul,.p-pcard ul{
    list-style:circle;
    flex: 1;
    padding: 20px;
}
.n-pcard li{
    margin-bottom: 10px;
    color:black;
    font-size: 15px;
}
.p-pcard li{
    margin-bottom: 10px;
    color:#FFFFFF;
    font-size: 12px;
}
.np-button{
    background-color: #FFFFFF;
    border: 1px solid #1D4ED8;
    padding:12px ;
    border-radius: 5px;
    cursor: pointer;
    color:#1D4ED8
}
.np-button:hover{
    background-color: #E5E7EB
}
.pp-button{
    background-color: #1D4ED8;
    border: 1px solid #1D4ED8;
    padding:12px ;
    border-radius: 5px;
    cursor: pointer;
    color:#FFFFFF
}
.pp-button:hover{
    background-color:#0D1B2A
}
.footer{
    background-color: #0D1B2A;
    max-width: 1200px;
    margin:  auto;
    padding: 8px 0px;
    padding: 8px 10px;
}
.foottop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.icons a{
    color: #FFFFFF;
    font-size: 25px;
}
.footer p{
    color:#E5E7EB;
    font-size: 12px;
}
